*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.analog-clock{
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../images/analog.jpg");
    background-size: cover;
}

.analog-clock:before{
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background: rgb(34, 33, 33);
    border-radius: 50%;
    z-index: 10000;
}

.analog-clock .hour,
.analog-clock .minute,
.analog-clock .second{
    position: absolute;
}

.analog-clock .hour, .hr{
    width: 160px;
    height: 160px;
}

.analog-clock .minute, .min{ 
    width: 190px;
    height: 190px;
}

.analog-clock .second, .sec{
    width: 230px;
    height: 230px;
}

.hr, .min, .sec{
    display: flex;
    justify-content: center;
    position: absolute;
    border-radius: 50%;
}

.hr:before{
    content: "";
    position: absolute;
    width: 8px;
    height: 80px;
    background: rgb(27, 5, 9);
    z-index: 10;
    border-radius: 6px 6px 0 0;
}

.min:before{
    content: "";
    position: absolute;
    width: 4px;
    height: 90px;
    background: rgb(34, 32, 32);
    z-index: 11;
    border-radius: 6px 6px 0 0;
}
.sec:before{
    content: "";
    position: absolute;
    width: 2px;
    height: 150px;
    background: rgb(122, 119, 119);
    z-index: 12;
    border-radius: 6px 6px 0 0;
}
.times{
    position: absolute;
    margin-top: 45px;
    margin-right: 100px;
}